<h1>Welcome to Todo Manager!</h1>

<section class="user-new">
    <p class="user-form-title">Sign up!</p>
    <%= form_with(url: "/users", method: "post", class: "home-form") do |form| %>
        <div class="form-user-input">
            <p>Name:</p>
            <%= form.text_field :name %>
        </div>
        <br>
        
        <div class="form-user -input">
            <p>Email:</p>
            <%= form.email_field  :email %>
        </div>
        
        <br>
        <div class="form-user-input">
            <p>Password:</p>
            <%= form.password_field :password %>
        </div>
        <%= form.submit "Sign up", class: "user-form-submit"%>
    <% end %>   
</section>
